<div fxFlexFill
     fxLayout="column">
  <div fxLayout="row"
       fxLayoutAlign="center start">
    <mat-toolbar color="primary">
      <button mat-icon-button
              (click)="drawer.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
    </mat-toolbar>
  </div>
  <mat-drawer-container fxFlex
                        fxFlexLayout="column">

    <mat-drawer #drawer
                class="contents"
                [(opened)]="openedSideBar"
                mode="side">
      <app-chat-list (chatSelection)="chatSelect($event)"></app-chat-list>
    </mat-drawer>

    <mat-drawer-content fxLayout="column"
                        fxFlex>
      <div class="master-page-container" fxFlex>
        <app-chat-conversation [data]="chatIdSelected"></app-chat-conversation>
      </div>

    </mat-drawer-content>

  </mat-drawer-container>
</div>
